#name=null
[PROXY]
[DNS]
black_ip=1
cache_time=600
use_system_dns=1
prevent_dns_leak=0
DNS 1=8.8.8.8:53
DNS 2=208.67.222.222:443
[RULE]
default=notset
udp_forward=1
ip::local=direct,10
domain::default_block=block,100
[IPLIST::local]
127.0.0.0/8
10.0.0.0/8
172.16.0.0/12
192.168.0.0/16
224.0.0.0/4
[DOMAINLIST::default_block]
[APP]
0=85
1000=85,android
1001=85,com.android.phone
1002=85,com.android.bluetooth
1007=85,com.motorola.bug2go
1027=85,com.android.nfc
1068=85,com.android.se
1073=85,com.google.android.networkstack.tethering
2000=85,com.android.shell
10000=85,com.motorola.msimsettings.overlay
10001=85,com.android.systemui.accessibility.accessibilitymenu.auto_generated_rro_product__
10002=85,com.android.internal.display.cutout.emulation.corner
10003=85,com.android.internal.display.cutout.emulation.hole
10004=85,com.android.dialer.overlay.imei
10005=85,com.google.android.overlay.modules.captiveportallogin.forframework
10006=85,com.android.internal.display.cutout.emulation.double
10007=85,com.android.internal.display.cutout.emulation.noCutout
10008=85,com.oem.euiccpartnerapp.overlay.att
10009=85,com.oem.euiccpartnerapp.overlay.br
10010=85,com.android.internal.display.cutout.emulation.tall
10011=85,com.android.internal.display.cutout.emulation.waterfall
10012=85,com.oem.euiccpartnerapp.overlay.cc
10013=85,com.oem.euiccpartnerapp.overlay.na
10014=85,com.oem.euiccpartnerapp.overlay.vzw
10015=85,com.motorola.android.launcher.overlay.att.apptray
10016=85,com.oem.euiccpartnerapp.overlay.retca
10017=85,com.oem.euiccpartnerapp.overlay.tmo
10018=85,com.android.theme.font.RobotoSlabRegular
10019=85,com.android.theme.font.Exo2Regular
10020=85,com.android.theme.font.RookeryRegular
10021=85,com.android.theme.font.WorkSans
10022=85,com.google.android.overlay.gmsconfig.common
10023=85,com.android.theme.font.SpaceGrotesk
10024=85,com.google.android.overlay.gmsconfig.asi
10025=85,com.google.android.overlay.gmsconfig.comms
10026=85,com.google.android.overlay.gmsconfig.contextualsearch
10027=85,com.google.android.overlay.gmsconfig.gsa
10028=85,com.google.android.overlay.gmsconfig.personalsafety
10029=85,com.google.android.overlay.gmsconfig.geotz
10030=85,com.google.android.overlay.modules.ext.services
10031=85,com.google.android.overlay.modules.documentsui
10032=85,com.google.android.overlay.modules.permissioncontroller.forframework
10033=85,com.google.android.overlay.gmsconfig.photos
10034=85,com.google.android.overlay.modules.healthfitness.forframework
10035=85,com.google.android.overlay.modules.permissioncontroller
10036=85,com.android.theme.icon.pebble
10037=85,com.android.theme.icon.round
10038=85,com.android.theme.icon.roundedrect
10039=85,com.motorola.launcherconfig.overlay.amxcl
10040=85,com.motorola.launcher3.auto_generated_rro_product__
10041=85,com.android.theme.icon.teardrop
10042=85,com.motorola.launcherconfig.overlay.amxmx
10043=85,com.motorola.launcherconfig.overlay.amxco
10044=85,com.motorola.launcherconfig.overlay.amxpe
10045=85,com.motorola.launcherconfig.overlay.att
10046=85,com.motorola.launcherconfig.overlay.amxla
10047=85,com.motorola.launcherconfig.overlay.attpre
10048=85,com.motorola.launcherconfig.overlay.boost
10049=85,com.motorola.launcherconfig.overlay.cc
10050=85,com.motorola.launcherconfig.overlay.cricket
10051=85,com.motorola.launcherconfig.overlay.fi
10052=85,com.motorola.launcherconfig.overlay.tmo
10053=85,com.motorola.launcherconfig.overlay.tracfone
10054=85,com.motorola.launcherconfig.overlay.usc
10055=85,com.motorola.launcherconfig.overlay.vzw
10056=85,com.motorola.launcherconfig.overlay.vzwpre
10057=85,com.google.android.overlay.modules.modulemetadata.forframework
10058=85,com.motorola.android.coresettingsext.overlay.doubletap
10059=85,com.motorola.android.coresettingsext.overlay.kansas
10060=85,com.motorola.android.contacts.overlay.vzw
10061=85,com.motorola.android.overlay.appclone
10062=85,com.android.cellbroadcastservice.overlay
10063=85,com.android.cellbroadcast.overlay
10064=85,com.motorola.android.overlay.attpre
10065=85,com.motorola.android.overlay.cricket
10066=85,com.motorola.android.overlay.cricket.default
10067=85,com.motorola.android.overlay.cricket.iqi.default
10068=85,com.motorola.android.overlay.common
10069=85,com.motorola.android.overlay.cricket.iqi
10070=85,com.motorola.android.overlay.dualsim
10071=85,com.motorola.android.overlay.lpptoga
10072=85,com.motorola.android.overlay.mtk.common
10073=85,com.motorola.android.overlay.midram
10074=85,com.motorola.android.overlay.midram.upcoming
10075=85,com.motorola.android.overlay.payjoy
10076=85,com.motorola.android.launcher.overlay.amx
10077=85,com.motorola.android.launcher.overlay.att
10078=85,com.motorola.android.launcher.overlay.koodo
10079=85,com.motorola.android.launcher.overlay.applabeltwolines.cc
10080=85,com.motorola.android.launcher.overlay.comcast
10081=85,com.motorola.android.launcher.overlay.applabeltwolines
10082=85,com.motorola.android.launcher.overlay.animation.scale
10083=85,com.motorola.android.launcher.overlay.motolauncheroverlayna
10084=85,com.motorola.android.launcher.overlay.vzw
10085=85,com.motorola.android.launcher.overlay.telus
10086=85,com.motorola.android.launcher.overlay.retail.global
10087=85,com.motorola.android.launcher.overlay.vivo
10088=85,com.motorola.contacts.preloadcontacts.overlay.vzw
10089=85,com.motorola.android.connectivity.resources.overlay
10090=85,com.motorola.safetycenter.resources.overlay
10091=85,com.motorola.android.settings.overlay.appclone
10092=85,com.motorola.android.settings.overlay.fps.side
10093=85,com.motorola.android.settings.overlay.global
10094=85,com.motorola.android.settings.overlay.att
10095=85,com.motorola.settings.overlay.full_ds_opportunistic
10096=85,com.motorola.settings.overlay.comcast
10097=85,com.motorola.android.settings.overlay.vzw
10098=85,com.motorola.android.settings.overlay.power.bottom
10099=85,com.motorola.android.providers.settings.overlay.dppcamera
10100=85,com.motorola.android.providers.settings.overlay.dppnone
10101=85,com.motorola.setup.overlay.att
10102=85,com.motorola.setup.overlay.att.simoobe
10103=85,com.motorola.setup.overlay.boost
10104=85,com.motorola.setup.overlay.comcast
10105=85,com.motorola.setup.overlay.dataenable
10106=85,com.motorola.setup.overlay.tmo
10107=85,com.motorola.setup.overlay.pai
10108=85,com.motorola.setup.overlay.primaryesim
10109=85,com.motorola.setup.overlay.tracfone
10110=85,com.motorola.setup.overlay.a15.skipglance
10111=85,com.motorola.default.ringtones.overlay.metro.usku
10112=85,com.motorola.default.ringtones.overlay.tmo.usku
10113=85,com.motorola.systemui.overlay.dcm
10114=85,com.motorola.android.systemui.overlay.att
10115=85,com.motorola.setup.overlay.vzw
10116=85,com.motorola.systemui.overlay.jp
10117=85,com.motorola.android.systemui.overlay.sprint
10118=85,com.motorola.systemui.overlay.moto.sysbar
10119=85,com.motorola.android.systemui.overlay.tmo
10120=85,com.motorola.android.systemui.overlay.usc
10121=85,com.motorola.android.systemui.overlay.vzw
10122=85,com.motorola.android.server.telecom.overlay.gms.boost
10123=85,com.motorola.android.server.telecom.overlay.tmo
10124=85,com.motorola.android.providers.settings.auto_generated_rro_product__
10125=85,com.motorola.android.server.telecom.overlay.jp
10126=85,com.android.internal.systemui.navbar.hidegestural
10127=85,com.android.internal.systemui.navbar.threebutton
10128=85,com.android.internal.systemui.navbar.gestural
10129=85,com.motorola.android.networkstack.overlay.mcc460
10130=85,com.android.role.notes.enabled
10131=85,com.motorola.settings.mep.overlay
10132=85,com.android.nfc.overlay
10133=85,com.android.providers.settings.auto_generated_rro_product__
10134=85,com.motorola.setup.overlay.disable.staytouch
10135=85,com.motorola.setup.auto_generated_rro_product__
10136=85,com.android.systemui.auto_generated_rro_product__
10137=85,com.android.phone.overlay.carriersettings
10138=85,com.android.phone.overlay.noHAC
10139=85,com.motorola.android.networkstack.tethering.overlay.motCommon
10140=85,com.android.phone.overlay.common
10141=85,com.android.phone.overlay.motcommon
10142=85,com.android.providers.telephony.overlay.carriersettings
10143=85,com.motorola.thermalservice.overlay.tmo
10144=85,com.android.internal.systemui.navbar.transparent
10145=85,com.android.wifi.resources.overlay.motCommon
10146=85,com.android.wifi.resources.overlay.WifiResScanCountryCode
10147=85,com.motorola.android.launcher.overlay.assurance.rcs.apptray
10148=85,com.motorola.android.launcher.overlay.boost.apptray
10149=85,com.motorola.android.launcher.overlay.cricket.apptray
10150=85,com.motorola.android.launcher.overlay.tmo.rcs.apptray
10151=85,com.motorola.android.launcher.overlay.metropcs.rcs.apptray
10152=85,android.auto_generated_rro_product__
10153=85,com.motorola.android.launcher.overlay.tmonosim.rcs.apptray
10154=85,com.motorola.actions.overlay
10155=85,com.motorola.overlay.launcher3
10156=85,com.mediatek.frameworkresoverlay
10157=85,com.motorola.android.overlay.hw_dualsim
10158=85,com.mediatek.MtkSettingsResOverlay
10159=85,com.motorola.android.overlay.deviceconfig.kansas
10160=85,com.mediatek.FrameworkResOverlayExt
10161=85,com.mediatek.SettingsProviderResOverlay
10162=85,com.android.wifi.mainline.resources.overlay
10163=85,android.auto_generated_rro_vendor__
10164=85,com.android.wifi.resources.overlay
10165=85,com.motorola.motosignature.app
10166=85,com.motorola.motosignature2.app
10167=85,com.android.calllogbackup
10168=85,com.motorola.appdirectedsmsproxy
10169=85,com.android.backupconfirm
10170=85,com.android.bips
10171=85,com.android.cellbroadcastreceiver
10172=85,com.android.providers.calendar
10173=85,com.android.credentialmanager
10174=85,com.android.providers.downloads
10175=85,com.android.devicediagnostics
10176=85,com.android.externalstorage
10177=85,com.google.android.packageinstaller
10178=85,com.google.android.documentsui
10179=85,com.android.intentresolver
10180=85,com.android.wallpaper.livepicker
10181=85,com.motorola.systemserver
10182=85,com.android.managedprovisioning
10183=85,com.motorola.sarcontrol
10184=85,com.android.providers.partnerbookmarks
10185=85,com.android.sharedstoragebackup
10186=85,com.android.proxyhandler
10187=85,com.google.android.tag
10188=85,com.android.vpndialogs
10189=85,com.android.bookmarkprovider
10190=85,com.android.dreams.basic
10191=85,com.android.bluetoothmidiservice
10192=85,com.android.cameraextensions
10193=85,com.android.certinstaller
10194=85,com.android.carrierdefaultapp
10195=85,com.aura.jet.att
10196=85,com.android.companiondevicemanager
10197=85,com.google.android.captiveportallogin
10198=85,com.android.egg
10199=85,com.google.android.ext.shared
10200=85,com.google.android.printservice.recommendation
10201=85,com.android.htmlviewer
10202=85,com.android.pacprocessor
10203=85,com.android.printspooler
10204=85,com.motorola.dolby.dolbyui
10205=85,com.android.simappdialog
10206=85,com.android.wallpaperbackup
10207=85,com.android.traceur
10208=85,com.android.networkstack.tethering.inprocess.overlay
10209=85,com.android.networkstack.inprocess.overlay
10210=85,com.google.android.networkstack.overlay
10211=85,com.google.android.networkstack.tethering.overlay
10212=85,com.android.networkstack.overlay
10213=85,com.android.networkstack.tethering.overlay
10214=85,com.amazon.appmanager
10215=85,com.google.android.projection.gearhead
10216=85,com.motorola.aiservices
10217=85,com.tmobile.pr.adapt
10218=85,com.aura.oobe.motorola
10219=85,com.motorola.omadm.att
10220=85,com.ironsrc.aura.tmo
10221=85,com.google.android.as
10222=85,com.att.csoiam.mobilekey
10223=85,com.att.dh
10224=85,com.motorola.att.phone.extensions
10225=85,com.motorola.att.sim.extensions
10226=85,com.att.mobile.android.vvm
10227=85,com.att.personalcloud
10228=85,com.motorola.brapps
10229=85,com.motorola.android.buacloudcontactadapter
10230=85,com.aura.oobe.solutions
10231=85,com.motorola.callredirectionservice
10232=85,com.google.android.carrier
10233=85,com.uscc.ecid
10234=85,com.aura.oobe.cricket
10235=85,com.google.android.apps.cbrsnetworkmonitor
10236=85,com.motorola.carriersettingsext
10237=85,com.motorola.comcastext
10238=85,com.motorola.vzw.cloudsetup
10239=85,com.motorola.comcast.settings.extensions
10240=85,com.xfinitymobile.cometcarrierservice
10241=170,com.google.android.configupdater
10242=85,com.google.ambient.streaming
10243=85,com.cricketwireless.minus
10244=85,com.dti.cricket
10245=85,com.android.contacts
10246=85,com.motorola.omadm.service
10247=85,com.dish.wireless.carrierapp
10248=85,com.motorola.omadm.dish
10249=85,com.google.android.deskclock
10250=85,com.aura.oobe.dish
10251=85,com.dish.wireless.installer
10252=85,com.dish.vvm
10253=85,com.dish.wireless.activation
10254=85,com.motorola.easyprefix
10255=85,com.aura.news.hashtag.news
10256=85,com.tmobile.echolocate
10257=85,com.motorola.entitlement
10258=85,com.google.android.gms.supervision
10259=85,com.android.dialer
10260=85,com.motorola.fmplayer
10261=85,com.google.android.apps.carrier.carrierwifi
10262=85,com.google.android.euicc
10263=85,com.google.android.apps.nbu.files
10264=85,com.glance.lockscreenM
10265=85,com.google.android.apps.googleassistant
10266=85,com.motorola.gamemode
10267=85,com.google.android.onetimeinitializer
10268=85,com.google.android.partnersetup
10269=85,com.google.android.apps.restore
10270=85,com.motorola.genie
10271=85,com.android.hotwordenrollment.okgoogle
10272=85,com.android.hotwordenrollment.xgoogle
10273=85,com.android.imsserviceentitlement
10274=85,com.verizon.mips.services
10275=85,com.google.android.dialer
10276=85,com.metropcs.metrozone
10277=85,com.motorola.account
10278=85,com.motorola.camera3
10279=85,com.motorola.appforecast
10280=85,com.motorola.actions
10281=85,com.google.android.apps.messaging
10282=85,com.motorola.moto
10283=85,com.motorola.help.extlog
10284=85,com.motorola.faceunlock
10285=85,com.google.android.gms
10286=85,com.motorola.iotservice
10287=85,com.motorola.dynamicvolume
10288=85,com.motorola.help
10289=85,com.motorola.om
10290=85,com.motorola.android.provisioning
10291=170,com.payjoy.access
10292=85,com.mizmowireless.acctmgt
10293=85,com.motorola.contacts.preloadcontacts
10294=85,com.motorola.spaces
10295=85,com.google.android.as.oss
10296=85,com.tmobile.rsuadapter.aidl
10297=85,com.tmobile.rsusrv
10298=85,com.google.android.apps.safetyhub
10299=85,com.google.android.apps.scone
10300=85,com.android.settings.intelligence
10301=85,com.motorola.sprint.setupext
10302=85,com.motorola.smartfeed
10303=85,com.spectrum.cm.headless
10304=85,com.motorola.tracfone.rsu
10305=85,com.tracfone.preload.accountservices
10306=85,com.motorola.extensions.tracfone
10307=85,com.huub.tiger
10308=85,com.android.vending
10309=85,com.motorola.tmo.settingsext
10310=85,com.tmobile.m1
10311=85,com.motorola.carrierconfig
10312=85,com.tmobile.rsuapp
10313=85,com.motorola.tmo.setupext
10314=85,com.tmobile.echolocate.system
10315=85,com.motorola.attvowifi
10316=85,com.google.android.apps.turbo
10317=85,com.motorola.visualvoicemail
10318=85,com.motorola.setupwizard.controller
10319=85,com.motorola.omadm.vzw
10320=85,com.motorola.setupwizard.devicesetup
10321=85,com.vzw.ecid
10322=85,com.vcast.mediamanager
10323=85,com.motorola.setupwizard.phoneservice
10324=85,com.motorola.vzw.settings.extensions
10325=85,com.motorola.vzw.provider
10326=85,com.motorola.vzw.voicemail.extensions
10327=85,com.securityandprivacy.android.verizon.vms
10328=85,com.vzw.hss.myverizon
10329=85,com.google.android.wfcactivation
10330=85,com.facebook.system
10331=85,com.facebook.services
10332=85,com.google.android.apps.wellbeing
10333=85,com.motorola.vzw.pco.extensions.pcoreceiver
10334=85,cci.usage
10335=85,com.motorola.vzw.phone.extensions
10336=85,com.google.android.googlequicksearchbox
10337=85,com.google.ar.core
10338=85,com.google.android.calculator
10339=85,com.motorola.audiorecorder
10340=85,com.digitalturbine.android.apps.news.uscellular
10341=85,com.dti.folderlauncher
10342=85,com.oem.euiccpartnerapp
10343=85,com.android.chrome
10344=85,com.google.android.calendar
10345=85,com.google.android.gms.location.history
10346=85,com.google.android.apps.docs
10347=85,com.motorola.launcherconfig
10348=85,com.google.android.contacts
10349=85,com.google.android.inputmethod.latin
10350=85,com.motorola.camera3.content.ai
10351=85,com.google.android.gm
10352=85,android.autoinstalls.config.motorola.layout
10353=85,com.motorola.playautoinstallext
10354=85,com.google.android.apps.tachyon
10355=85,com.google.android.tts
10356=85,com.google.android.apps.maps
10357=85,com.google.android.accessibility.switchaccess
10358=85,com.tracfone.generic.mysites
10359=85,com.motorola.thermalservice
10360=85,com.google.android.apps.photos
10361=85,com.cricketwireless.thescoop
10363=85,com.swishme.tracfone
10364=85,com.motorola.timeweatherwidget
10365=85,com.vzw.apnlib
10366=85,com.google.android.webview
10367=85,com.google.android.apps.tycho
10368=85,com.amazon.mShop.android.shopping
10369=85,com.google.android.videos
10370=85,com.google.android.modulemetadata
10371=85,com.google.mainline.telemetry
10372=85,com.google.mainline.adservices
10373=85,com.handmark.expressweather
10374=85,com.inmobi.weather
10375=85,com.facebook.appmanager
10376=85,com.google.android.apps.youtube.music
10377=85,com.google.android.youtube
10378=85,com.google.android.marvin.talkback
10379=85,com.trustonic.alpsservice
10380=85,com.mediatek.apmonitor
10381=85,com.motorola.ccc.devicemanagement
10382=170,com.motorola.ccc.ota
10383=85,com.att.iqi
10384=85,com.android.avatarpicker
10385=85,com.motorola.ccc.notification
10386=85,com.motorola.android.providers.chromehomepage
10387=85,com.android.emergency
10388=85,com.motorola.demo
10389=85,com.motorola.motocit
10390=85,com.motorola.gesture
10391=85,com.motorola.enterprise.adapter.service
10392=85,com.google.android.feedback
10393=85,com.motorola.hiddenmenuapp
10394=85,com.motorola.coresettingsext
10395=85,com.motorola.imagertuning_w
10396=85,com.google.android.gsf
10397=85,com.google.android.apps.wallpaper
10398=85,com.motorola.iqimotmetrics
10399=85,com.motorola.bach.modemstats
10400=85,com.motorola.lifetimedata
10401=85,com.motorola.motocare
10402=85,com.bluetooth.aptxmode
10403=85,com.motorola.msimsettings
10404=85,com.motorola.launcher3
10405=85,com.motorola.motosecurecore
10406=85,com.motorola.securevault
10407=85,com.motorola.securityhubext
10408=85,com.motorola.smart5g
10409=85,com.motorola.installer
10410=85,com.motorola.sstservice
10411=85,com.motorola.securityhub
10412=85,com.motorola.wifi.motowifimetrics
10413=85,com.motorola.enterprise.service
10414=85,com.motorola.mykey
10415=170,com.motorola.paks.notification
10416=170,com.motorola.paks
10417=85,com.android.systemui.plugin.globalactions.wallet
10418=85,com.mediatek.rsu
10419=85,com.motorola.revoker.services
10420=85,com.motorola.personalize
10421=85,com.motorola.spectrum.setup.extensions
10422=85,com.motorola.setup
10423=85,com.android.storagemanager
10424=85,com.android.wallpapercropper
10425=85,com.google.android.setupwizard
10426=85,com.dolby.daxservice
10427=85,com.motorola.dimo
10428=85,com.motorola.rcsConfigService
10429=85,com.android.systemui
10430=85,com.mediatek.op12.ims
10431=85,com.motorola.android.fmradio
10432=85,com.motorola.slpc_sys
10433=85,com.android.systemui.accessibility.accessibilitymenu
10434=85,com.android.smspush
10435=85,com.motorola.nfwlocationattribution
10436=85,com.mediatek
10437=85,com.google.android.rkpdapp
10438=85,com.google.android.safetycenter.resources
10439=85,com.google.android.permissioncontroller
10440=85,com.google.android.ondevicepersonalization.services
10441=85,com.google.android.federatedcompute
10442=85,com.google.android.healthconnect.controller
10443=85,com.google.android.health.connect.backuprestore
10444=85,com.google.android.appsearch.apk
10445=85,com.google.android.uwb.resources
10446=85,com.google.android.connectivity.resources
10447=85,com.android.virtualmachine.res
10448=85,com.google.android.photopicker
10449=85,com.google.android.providers.media.module
10450=85,com.google.android.cellbroadcastreceiver
10451=85,com.android.cts.priv.ctsshim
10452=85,com.android.cts.ctsshim
10453=85,com.google.android.server.deviceconfig.resources
10454=85,com.android.devicelockcontroller
10455=85,com.google.android.ext.services
10456=85,com.google.android.adservices.api
10457=85,com.google.android.sdksandbox
10458=85,com.google.android.wifi.resources
10459=85,com.google.android.hotspot2.osulogin
10460=85,com.google.android.wifi.dialog
10461=0,com.facebook.katana
10462=85,co.netpatch.firewall
kgservice.samsungknox.com
kgclient.samsungknox.com
kg-api.samsungknox.com
kg.samsungknox.com
api-kg.samsungknox.com
kg-api-prod.samsungknox.com
kg-api-stg.samsungknox.com
kgauth.samsungknox.com
kgserver.samsungknox.com
kgs-api.samsungknox.com
kg-global.samsungknox.com
kg-us.samsungknox.com
kg-eu.samsungknox.com
kg-asia.samsungknox.com
knoxguard.samsungknox.com
guardserver.samsungknox.com
kgcauth.samsungknox.com
# Samsung Knox (MDM & Security)
knox.samsungknox.com
api.samsungknox.com
www.samsungknox.com
samsungknox.com
analytics.samsungknox.com
analytics-stg.samsungknox.com
api-analytics.samsungknox.com
api-analytics-qa.samsungknox.com
b2banalytics.samsungknox.com
knoxconfig.com
api.knoxconfig.com
klmsagent.samsungknox.com
klms.samsungknox.com
api-klms.samsungknox.com
kcs.samsungknox.com
kccs.samsungknox.com
kdm.samsungknox.com
kma.samsungknox.com
kpb.samsungknox.com
cloudmdm.samsungknox.com
api-cloudmdm.samsungknox.com
cloudmdm-api.samsungknox.com
cloudmdm-eu.samsungknox.com
cloudmdm-us.samsungknox.com
smdms.samsungknox.com
enrollment.samsungknox.com
api-enrollment.samsungknox.com
enroll.samsungknox.com
asset.samsungknox.com
api-asset.samsungknox.com
invitation.samsungiotcloud.com
# Samsung MDM
samsungdm.com
diagmon-policy.samsungdm.com
diagmon-serviceapi.samsungdm.com
report.gras.samsungdm.com
dev-apigw.samsungdmroute.com
stg-apigw.samsungdmroute.com
klmsagent.com
# Cricket Wireless
cwm.cricket.com
dmm.mcs.cricket.com
dmapp.mcs.cricket.com
ota.cricket.com
devicemanagement.cricket.com
mdm.cricket.com
api.devicemanagement.cricket.com
fota.cricket.com
omadm.cricket.com
cricketwireless.hosted.jivesoftware.com
cwm-prod.cricket.com
# T-Mobile
dm.tmomail.net
dmapp.mcs.t-mobile.com
devicemanagement.t-mobile.com
mdm.t-mobile.com
fota.t-mobile.com
omadm.t-mobile.com
dm-us.hotspot.t-mobile.com
ota.t-mobile.com
otasrv.t-mobile.com
ota-updates.t-mobile.com
fotausatmo.com
msg.t-mobile.com
api.t-mobile.com
entitlement.t-mobile.com
epdg.epc.t-mobile.com
# Verizon
dmapp.mcs.verizon.com
devicemanagement.verizon.com
mdm.verizon.com
fota.verizon.com
omadm.verizon.com
vzw.com
verizonwireless.com
vms.vzw.com
vcast.verizon.com
api.verizon.com
# AT&T
dmapp.mcs.att.com
devicemanagement.att.com
mdm.att.com
fota.att.com
omadm.att.com
dm.att.com
attentitlement.att.com
api.att.com
mas.att.com
entitlement-api.att.com
# Samsung Ads
samsungads.com
samsungadhub.com
samsungacr.com
ad.samsungadhub.com
ads.samsungads.com
config.samsungads.com
api.samsungads.com
samsungads.adsmeasurement.com
samsungtv-d.openx.net
samsungtvads.com
adgrx.com
ads.samsungelectronics.com
samsungallstore.com
# Google Ads
googleads.g.doubleclick.net
pagead2.googlesyndication.com
adservice.google.com
googleadservices.com
www.googleadservices.com
afs.googlesyndication.com
www.googlesyndication.com
doubleclick.net
www.doubleclick.net
ad.doubleclick.net
ad-g.doubleclick.net
m.doubleclick.net
mediavisor.doubleclick.net
stats.g.doubleclick.net
cm.g.doubleclick.net
google-analytics.com
www.google-analytics.com
ssl.google-analytics.com
analytics.google.com
click.googleanalytics.com
admob.com
a.admob.com
analytics.admob.com
c.admob.com
media.admob.com
p.admob.com
googletagmanager.com
www.googletagmanager.com
googletagservices.com
www.googletagservices.com
# Samsung Trackers
samsung-com.112.2o7.net
metric.account-samsung.com
samsungcard.data.adobedc.net
samsung.appnext.com
samsung.attn.tv
samsungrum.beusable.net
samsungscript.beusable.net
samsung.bimtrackapp.co
cn-api.mcsvc.samsung.com.cn
smetrics.samsung.com.cn
push.samsungosp.com.cn
samsungott.sora.yoyi.com.cn
samsung.demdex.net
samsung-benelux.demdex.net
samsung-france.demdex.net
samsung-germany.demdex.net
samsung-italy.demdex.net
samsung-mena.demdex.net
samsung-nordics.demdex.net
samsung-poland.demdex.net
samsungafrica.demdex.net
samsungau.demdex.net
samsungbrazil.demdex.net
samsungcanada.demdex.net
samsungcard.demdex.net
samsungcis.demdex.net
samsungelectronicsamericainc.demdex.net
samsungeu.demdex.net
samsungeucdm.demdex.net
samsungeverland.demdex.net
samsunghq.demdex.net
samsungindiaelectronics.demdex.net
samsungindonesia.demdex.net
samsungjapan.demdex.net
samsunglatam.demdex.net
samsunglevant.demdex.net
samsunglife.demdex.net
samsungseao.demdex.net
samsungsec.demdex.net
fast.samsungsingapore.demdex.net
samsungspain.demdex.net
samsungthailand.demdex.net
samsungturkey.demdex.net
clientapi-samsung.dtignite.com
download-samsung.dtignite.com
akcjasamsung.e-kei.pl
samsung-akcja.e-kei.pl
samsung.ecorebates.com
samsung.telemetry.eyeo.com
ehg-samsungusa.hitbox.com
moai-dev-samsung.com
samsungcard.sc.omtrdc.net
samsungnorthamerica.sc.omtrdc.net
samsung.com.ssl.sc.omtrdc.net
samsungafrica.tt.omtrdc.net
samsungbenelux.tt.omtrdc.net
samsungcanada.tt.omtrdc.net
samsungchina.tt.omtrdc.net
samsungcis.tt.omtrdc.net
samsungeucdm.tt.omtrdc.net
samsungkorea.tt.omtrdc.net
samsunglatam.tt.omtrdc.net
samsungmena.tt.omtrdc.net
samsungseao.tt.omtrdc.net
samsungturkey.tt.omtrdc.net
samsungus.tt.omtrdc.net
qmds-dev-samsung.com
zn8qwjgdslpyjq5n3-samsungcustomerboard.siteintercept.qualtrics.com
zn9xowqszdbqtbfwx-seasamsung.siteintercept.qualtrics.com
znewylzpqds1jt1sh-samsunggdc.siteintercept.qualtrics.com
znexudtrhw0nwrmga-seasamsung.siteintercept.qualtrics.com
zneysvtqyfhzf6n4p-samsungeurope.siteintercept.qualtrics.com
sia.internet.apps.samsung.com
dc.di.atlas.samsung.com
dls-account.di.atlas.samsung.com
dqa-auth.di.atlas.samsung.com
regi.di.atlas.samsung.com
analytics.bigdata.samsung.com
lp.americas.business.samsung.com
tracking.americas.business.samsung.com
lp.apac.business.samsung.com
tracking.apac.business.samsung.com
tracking.europe.business.samsung.com
images.it.business.samsung.com
seao.business.samsung.com
channelusa.samsung.com
images.chbusiness.samsung.com
dc.dqa.samsung.com
dls-ddc.dqa.samsung.com
dls-udc.dqa.samsung.com
event-tracking.samsung.com
images.frbusiness.samsung.com
bldr.mkt.samsung.com
analytics.mpay.samsung.com
nmetrics.samsung.com
images.partnersupport.samsung.com
plbusiness.samsung.com
api.runestone.samsung.com
di.runestone.samsung.com
sca.samsung.com
lp.smartbusiness.samsung.com
tracking.smartbusiness.samsung.com
smetrics.samsung.com
images.ssbusiness.samsung.com
bigdata.ssp.samsung.com
target-us.samsung.com
ureca.samsungapps.com
acr-au-prd.samsungcloud.tv
acr-br-prd.samsungcloud.tv
acr-ca-prd.samsungcloud.tv
acr-eu-prd.samsungcloud.tv
acr-in-prd.samsungcloud.tv
acr-kr-prd.samsungcloud.tv
acr-mx-prd.samsungcloud.tv
acr-us-prd.samsungcloud.tv
acr0.samsungcloudsolution.com
devicelog.samsungcloudsolution.net
prderrordumphsm.samsungcloudsolution.com
prderrordumpssm.samsungcloudsolution.net
analytics.samsungedo.com
apu.samsungelectronics.com
bpu.samsungelectronics.com
cpu.samsungelectronics.com
dpu.samsungelectronics.com
kpu.samsungelectronics.com
upu.samsungelectronics.com
xpu.samsungelectronics.com
ypu.samsungelectronics.com
zpu.samsungelectronics.com
shealth-analytics-api.samsunghealth.com
shealth-analytics-stg-api.samsunghealth.com
analytics-dev-api.test.samsunghealth.com
analytics-api.samsunghealthcn.com
nmetrics.samsungmobile.com
gld.samsungosp.com
stats.samsungpass.com
osb.samsungqbe.com
osb-krsvc.samsungqbe.com
samsungr.com
samsungrm.com
test.samsungrm.net
sspapi-prd.samsungrs.com
matomo.samsungsdibs.at
lp.mkt-email.samsungsds.com
tracking.mkt-email.samsungsds.com
business.samsungusa.com
api-samsung.swypeconnect.com
lbs-samsung.swypeconnect.com
samsungau.api.useinsider.com
samsungca.api.useinsider.com
samsunghk.api.useinsider.com
samsungid.api.useinsider.com
samsungiraq.api.useinsider.com
samsungjordan.api.useinsider.com
samsungkr.api.useinsider.com
samsungksa.api.useinsider.com
samsungmalaysia.api.useinsider.com
samsungpakistan.api.useinsider.com
samsungph.api.useinsider.com
samsungsamcol.api.useinsider.com
samsungsamcolepp.api.useinsider.com
samsungsavinaepp.api.useinsider.com
samsungsebnbg.api.useinsider.com
samsungsebnnl.api.useinsider.com
samsungseda.api.useinsider.com
samsungsem.api.useinsider.com
samsungsemepp.api.useinsider.com
samsungsepr.api.useinsider.com
samsungseromro.api.useinsider.com
samsungsesarepp.api.useinsider.com
samsungsetkepp.api.useinsider.com
samsungsingapore.api.useinsider.com
samsungth.api.useinsider.com
samsungtseepp.api.useinsider.com
samsungturkey.api.useinsider.com
samsunguk.api.useinsider.com
samsungusa.api.useinsider.com
samsungvn.api.useinsider.com
h4g3z1-native.samsung.web.app
# Additional Tracking
app-measurement.com
firebaselogging.googleapis.com
firebaselogging-pa.googleapis.com
crashlyticsreports-pa.googleapis.com
firebase-settings.crashlytics.com
app-analytics-services.com
metric.gstatic.com
[APP]
0=85
